body{
  padding: 0;
  margin: 0;
}
header{

  padding: 0;
  margin: 0;
}
#input{

 display: flex;
 align-items: center;
 justify-content: center;
}
#input .carrito{
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
  padding: 8px;
}
.cabecera{
  background-color: rgb(233, 232, 232);
  border: none;
  padding: 15px;
  border-radius: 10px;
  width: 400px;
  height: 5px;
}
.logo{
  padding: 15px;
}
.lista{
  padding: 10px;
  margin: 5px;
}
.nav li a{
  color: white;
  border-radius: 30px;
  padding: 0;
  margin: 10px;

  text-decoration: none;
  padding: 20px;
}
.nav{
  margin: 0;
  padding: 0;
 background-color: rgb(190, 190, 190);
  z-index: 99;
  justify-content: flex-start;
  margin: 0;
  padding: 8px;
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  left: 85px;
  top: 0;
  right: 0;
}
  
}
#navegacion{
  background-color: tomato;
  opacity: 0;
  width: 700px;
  height: 70px;

}
#fondo-pantalla{
margin: 0px;
padding: 0px;
width: 90%;
margin: auto;
overflow: hidden;

}
#fondo-pantalla ul{
width: 300%;
margin:0;
position: relative;
padding:0;
display: flex;
animation: cambio 20s infinite;
animation-direction: alternate;
animation-timing-function: ease-in;
}

@keyframes cambio{
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -303%;}
  100% {margin-left: -303%;}
}

#fondo-pantalla li{
  margin: 0;
  padding: 0px;
  width: 100%;
  list-style: none;
}

#fondo-pantalla img{
 padding: 25px;
}
.fondo{
  position: relative;
  opacity: 80%;
}
h2{
  margin: 10px;
  padding: 10px;
  text-align: center;
}
#enunciado-1{
  padding: 0px;
  margin: 0px ;
 height: 60px;
}
#enunciado-2{
  padding: 0px;
 height: 60px;
}
#enunciado-3{
  padding: 0px;
 height: 60px;
}
#enunciado-4{
  padding: 0px;
 height: 60px;
}
#contenedor #galeria-1{ 
  display: flex;
  align-items: center;
  justify-content: center;
}
#contenedor #galeria-2{
 
  display: flex;
  align-items: center;
  justify-content: center;

}
#contenedor #galeria-3{
 
  display: flex;
  align-items: center;
  justify-content: center;

}
#contenedor #galeria-4{
 
  display: flex;
  align-items: center;
  justify-content: center;

}
.fotos{
 padding: 10px;
}