body {
  padding: 0%;
  margin: 0%;
}
#contenedor {
  padding: 0%;
  margin: 0%;
  background-image: url("../assets/images/fondo.png");
  position: relative;
  height: 700px;
}
#contenido {
  top: 100px;
}

#lista {
  z-index: 99;
  background: white;
  margin: 0;
  padding: 16px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
.imput {
  padding: 10px;
  margin: 0px;
  background-image: url("../assets/images/BOTON-BUSQUEDA.png");
  background-repeat: no-repeat;
  border: none;
  width: 90px;
  height: 3px;
}

.menu {
  font-family: sans-serif;
  display: block;
  padding: 15px 20px;
}
#lista li a {
  text-decoration: none;
  color: black;
}

h1 {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 50px;
  color: #ffb74d;
  position: relative;
  top: 300px;
}

h3 {
  padding: 0px;
  margin: 0px;
  text-align: center;
  height: 70px;
  position: relative;
  top: 300px;
}
#boton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
  top: 300px;
}
.mas {
  background-color: #ffb74d;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 100;
  color: white;
  border: none;
  cursor: pointer;
}
#pasteles {
  padding: 60px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pasteles {
  margin: 50px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, transparent 50%, #ffb74d 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s;
}
.pasteles:hover {
  transform: translateY(-7%);
  background-position: right;
  color: white;
}
.galeria {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tortas {
  max-width: 600px;
  margin: 40px;
  border-radius: 20px
}
.ver-detalles {
  width: 120px;
  height: 50px;
  position: relative;
  left: 230px;
}
.detalles {
  border: none;
  border-radius: 20px;
  color:#ffb74d;
  cursor: pointer;
}
.pacagin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anuncio {
  max-width: 800px;
}

#vision {
  display: flex;
  align-items: center;
  justify-content: center;
}
#ubicacion {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contactanos{
  padding: 40px;
  border-radius: 30px;
  background-color: rgb(245, 245, 245);
  width: 800px;
  height: 250px;
  display: flex;
  margin: 0px auto;

}
}
#nombre{
width: 300px;
height: 230px;
background-color: rgb(235, 235, 235);
float: left;
}

#ilustracion-final{
 
 float: left;
}
.nombres{
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 10px;
  padding: 8px;
  width: 400px;
  outline: none;
  margin-bottom: 20px;
  font-size: 10px;
}
.tarea{
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 10px;
  width: 260px;
  outline: none;
  margin-bottom: 20px;
  font-size: 10px;
  min-width: 410px;
  max-width: 410px;
  min-height: 100px;
  max-height: 200px;
}
#enviar{
  color: white;
  border: none;
  padding: 10px;
  background-color: rgb(165, 163, 160);
  border-radius: 10px;
  width: 410px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
#pie-pagina{
  padding: 40px;
  border: 100px;
  width: 1050px;
  height: 100px;
  margin: 0px auto;
}
.redes{
  padding: 10px;
  background-color:#ffb74d;
  display: flex;
  margin: 0px auto;
}
#servicios{
padding: 10px;
text-align: center;
width: 330px;
height: 150px;
}
#contacto{;
padding: 10px;
text-align: center;
width: 330px;
height: 150px;
}
#redes-sociales{
padding: 10px;
text-align: center;
width: 330px;
height: 150px;
}
h2, h4{
  color: white;
}
.img{
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}